<h1>Javascript Playground</h1>

<div>
  <h3>The Name</h3>
  Your Name:
  <%= text_field_tag :name, nil, id: "name_field" %>
  <%= link_to "Add Default", "#", id: "name_link", onclick: "defaultName();" %>
</div>

<div>
  <h3>Regarding the hidden section</h3>
  Show Next Section?
  <%= radio_button_tag :show, true, nil, onclick: "displaySection('block');" %> Yes
  <%= radio_button_tag :show, false, nil, onclick: "displaySection('none');" %> No
</div>

<div id="show_hide_section">
  <h3>The hidden section</h3>
  <p>I'm being shown!</p>
</div>

<div id="copy_section">
  <h3 class="copyable">Copy me, I dare you. <span>Hahaha</span></h3>
</div>

<%= link_to "Copy it!", "#", id: "copy_link", onclick: "copySection();" %>
